ADMIN_EMAIL=zenzo.org@gmail.com
ADMIN_PASSWORD=change-this-password
SESSION_SECRET=replace-with-a-long-random-secret
RAZORPAY_KEY_ID=rzp_live_xxxxxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxxxxxx
RAZORPAY_WEBHOOK_SECRET=replace-with-webhook-secret
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_xxxxxxxxxxxxx
PORT=8092
